body { 
    font-family: helvetica;    
    color: #404040;
    margin: 0;
    font-size: 16px;

}

header {
    background-color: salmon;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding: 20% 0
}

.section-headings {
    margin: 100px auto
}

.section-headings h1 {
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    margin: 0px
}

.section-headings p {
    margin-top: 10px;
    text-align: center;
    font-size: 1.2rem
}

.style-item {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border-radius: 7px;
    background-color: blue;
    margin-bottom: 8px
}

.style-item p {
    margin: auto 0;
    padding: 125px 25px;
    text-align: center
}

.style-item:nth-child(odd) {
    background-color: blueviolet
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 2.5%
}

.no-wrap {
    flex-wrap: nowrap
}

.no-wrap p {
    padding: 300px 25px
}

.flex-item-type1 {
    flex: 32%;
    min-width: 250px;
    margin: 3px
}

.flex-item-type2 {
    flex: 49%;
    min-width: 250px;
    margin: 3px
}

.flex-item-type2:nth-child(3) {
    flex: 100%;
    margin: 3px
}

.flex-item-type3 {
    flex: 1;
    margin: 0 3px
}

.flex-item-type3sm {
    margin: 0 3px
}